.cardWrapper {
    display: flex;  
    flex-wrap: wrap; 
    justify-content: space-evenly;
}
.cards {
    text-align: left;
    margin: 20px;
    width: 200px;
    background-color: white;
    box-shadow: 0 10px 6px -6px #777;
    border-radius: 10px;
    user-select: none;
}
